/* Core style sheet. */
$background-color: #fff;
$grey-dark: #333;

body {
    font-family: 'Open Sans', sans-serif;
    background-color: $grey-dark;
}

#page {
    background-color: $background-color;
    min-height: 90vh;
}

footer {
    color: $background-color;
    margin-top: 1em;
    margin-bottom: 2em;

    a {
        color: $background-color;
        text-decoration: underline;

        &:hover, &:active {
            color: $background-color;
            text-decoration: none;
        }
    }
}

.table {
    tr.numeric, td.numeric {
        text-align: right;
    }
}

/* Search bar nav. */
.main-nav {
    margin-top: 1em;
    margin-bottom: 1em;

    h1 {
        font-size: 1.8em;
        font-weight: 900;
        margin-top: 0em;

        a {
            color: $grey-dark;
            &:hover {
                text-decoration: none;
            }
        }
    }
}


/* Search facets. */
$table-condensed-cell-padding:  5px !default;
$table-bg-hover:                #f5f5f5 !default;
$table-bg-active:               $table-bg-hover !default;
$table-border-color:            #ddd !default;

.facet {
    width: 100%;
    max-width: 100%;
    margin-top: 1px;
    margin-bottom: 32px;

    .facet-header, .facet-value {
        padding: $table-condensed-cell-padding;
        border-bottom: 1px solid $table-border-color;
        vertical-align: top;
    }

    .facet-header {
        font-weight: bold;
    }

    .facet-body {
        max-height: 30vh;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .facet-value {
        &.active {
            background-color: $table-bg-active;
            font-weight: bold;
        }

        .count {
            float: right;
        }
    }
}

// .table-facets {

//     .facet-header {
//         border-top: 0;
//     }
    
//     .active {
//         font-weight: bold;
//     }

//     tbody {
//         // max-height: 25vh;
//         // width: inherit;
//         // overflow-y: scroll;
//         // overflow: -moz-scrollbars-vertical;
//     }
// }

/* Page layout re-usable bits. */
.subheader, .header {
    h2 {
        // border-bottom: 1px solid #333;
        padding-bottom: 0.5em;
        margin-bottom: 0.5em;
        font-size: 1.4em;
        font-weight: 900;
    }

    h3 {
        // border-bottom: 1px solid #333;
        padding-bottom: 0.5em;
        margin-bottom: 0.5em;
        font-size: 1.2em;
        font-weight: 900;
    }
}

.header {
    background-color: $grey-dark;
    color: white;
    margin-bottom: 1em;
}

.pagination {
    margin-top: 0;
}
