/* Core style sheet. */
$background-color: #fff;
$grey-dark: #333;

body {
    font-family: 'Open Sans', sans-serif;
    background-color: $grey-dark;
}

#page {
    background-color: $background-color;
    min-height: 90vh;
}

footer {
    color: $background-color;
    margin-top: 1em;
    margin-bottom: 2em;

    a {
        color: $background-color;
        text-decoration: underline;

        &:hover, &:active {
            color: $background-color;
            text-decoration: none;
        }
    }
}

.table {
    tr.numeric, td.numeric {
        text-align: right;
    }
}

/* Search bar nav. */
.main-nav {
    margin-top: 1em;
    margin-bottom: 1em;

    h1 {
        font-size: 1.8em;
        font-weight: 900;
        margin-top: 0em;
    }
}

/* Search facets. */
.table-facets {
    .active {
        font-weight: bold;
    }
}

/* Page layout re-usable bits. */
.subheader, .header {
    h2 {
        // border-bottom: 1px solid #333;
        padding-bottom: 0.5em;
        margin-bottom: 0.5em;
        font-size: 1.4em;
        font-weight: 900;
    }

    h3 {
        // border-bottom: 1px solid #333;
        padding-bottom: 0.5em;
        margin-bottom: 0.5em;
        font-size: 1.2em;
        font-weight: 900;
    }
}

.header {
    background-color: $grey-dark;
    color: white;
    margin-bottom: 1em;
}

